<div class="w-full h-screen text-white overflow-auto flex flex-col">

  <!-- Logo -->
  <header class="w-full h-14 bg-gray-900 pl-6 flex items-center">
    <h1 class="text-2xl font-bold tracking-wide">Code Editor ✍🏼</h1>
  </header>

  <!-- Container -->
  <main class="flex h-full">

    <!-- Codigo -->
    <div class="w-[1050px] bg-slate-800 flex flex-col h-full overflow-auto">

      <!-- Navegacion -->
      <nav>
        <ul class="flex">
          <li class="p-2 w-full text-center cursor-pointer border-b-2 border-transparent hover:border-white"
            [ngClass]="{'border-white': state == 'html'}" (click)="setState('html')">HTML
          </li>
          <li class="p-2 w-full text-center cursor-pointer border-b-2 border-transparent hover:border-white"
            [ngClass]="{'border-white': state == 'css'}" (click)="setState('css')">CSS
          </li>
          <li class="p-2 w-full text-center cursor-pointer border-b-2 border-transparent hover:border-white"
            [ngClass]="{'border-white': state == 'js'}" (click)="setState('js')">
            Javascript</li>
        </ul>
      </nav>

      <!-- HTML, CSS, JavaScript -->
      <div class="h-full">

        <!-- HTML -->
        <div #HTML id="HTML" class="w-full h-full bg-teal-600" *ngIf="state == 'html'"></div>

        <!-- CSS -->
        <div #CSS id="CSS" class="w-full h-full bg-pink-600" *ngIf="state == 'css'">

        </div>

        <!-- JavaScript -->
        <div #JS id="JS1" class="w-full h-full bg-yellow-600" *ngIf="state == 'js'">

        </div>

      </div>
    </div>

    <div class="w-full h-full text-black">
      <iframe class="w-full h-full" srcdoc="<h1>Hola mundo desde mi iframe como están</h1>"></iframe>
    </div>

  </main>

</div>